<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"
  crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/all.min.css" rel="stylesheet"
  crossorigin="anonymous">

<a class="text-info" title="Share on Twitter"
  href="https://twitter.com/intent/tweet?text=Come and Join RunOrFall, TNT Run in Minetest! Please visit: https://runorfall.ga/"
  target="_blank" rel="nofollow">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
  </span></a>

<a class="text-info" title="Join Discord" href="https://discord.gg/xPYrMQy" target="_blank" rel="nofollow">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
  </span></a>

<a class="text-info" title="Source" href="https://gitlab.com/Niwla23/runorfall/" target="_blank" rel="nofollow">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fab fa-gitlab fa-stack-1x fa-inverse"></i>
  </span></a>